.bet-history-slip{
    background-color: #121212;
    border-radius: 3px;
    padding: 2px 5px;
    color:black;
    font-weight: 500;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom:4px;
    width:97%;
margin-left:1.5%;
display: flex;
flex-direction: column;
text-align: left;
margin-top:1px;


}

.history-container-segment{
    padding:8px;
    color:white;
}
.edit-button{
    &:hover{
        cursor:pointer;
    }
}
svg{
    &:hover{
        cursor: pointer;
    }
}
@media screen and (max-width: 895px) {
    .edit-button{
        margin-top:33px;
    }


.bet-history-email-container{
    display: flex;
    flex-direction: column;
    padding:6px;
    width:100%

}

}
@media screen and (min-width: 895px) {
    .bet-history-email-container{


    }

}
