.bet-history-slip{
    color:black;
    font-weight: 500;
    width:97%;
margin-left:1.5%;
display: flex;
flex-direction: column;
text-align: left;


}

.history-container-segment{
    color:white;
}
.edit-button{
    &:hover{
        cursor:pointer;
    }
}
svg{
    &:hover{
        cursor: pointer;
    }
}
@media screen and (max-width: 700px) {
    .dropdown-img{
        width:50%;
        margin-left: 25%;
    }
    .dropdown-image-container{
        width:14%
    }
    .edit-button{
        margin-top:33px;
    }


.bet-history-email-container{
    display: flex;
    flex-direction: column;
    padding:6px;
    width:100%

}

}
@media screen and (min-width: 700px) {
    .dropdown-img{
        width:30%;
        margin-left: 35%;
    }
    .dropdown-image-container{
        width:11%
    }
    .bet-history-email-container{


    }

}
