.set-lineup-container{
    margin-bottom: 100px;
    height:825px;


}
@media screen and (min-width:680px){
    .sb-sf-container{
        display: flex;
        flex-direction: row;
        .sidebar{
            width:17%
        }
        
    }
    
}