@media screen and (max-width:480px){

}
@media screen and (min-width:480px){
    .bet-history-slip-container{display:flex; flex-direction: row;}
.bhs-sidebar-container{
    width:17%
}
.past-wagers-container{
    width:60%;
    margin-left: 2%;
}
}
