@media screen and (max-width:480px){

}
@media screen and (min-width:700px){
    .bet-history-slip-container{
        display:flex; flex-direction: row; 
    }

.past-wagers-container{
    width:60%;
    margin-left: 2%;
}
}
@media screen and (min-width:700px){

.bhs-sidebar-container{
    width:17%
}
}
.bet-history-slip-container{
    background-color: black;
    padding-bottom: 100px;
}
.past-wagers-container{
    padding:0 10px;
}