@media screen and (max-width: 470px) {
}

#roster-container{
  font-family: arial;
  font-weight:800;
  font-size: 13px;
  color:white;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
  background-color: #121212;
}
.drop-player{
  margin-left: 2px;
  margin-top: 2px;

  font-size: 15px;
  color: red;
  &:hover{
    cursor: pointer;
    color: darkred;
  }
  
}
td{
  height: 39px;
}
.roster-header{
  display: flex;
  flex-direction: row;
  height:50px;
  border-bottom: 1px solid rgb(109, 109, 109);
}
.lines{

  width: 3px;

}
.roster-row{
  border-bottom: 1px solid rgb(109, 109, 109);

}
.clear-lineup-button{
  cursor:pointer;
}