.sign-up {
    display: flex;
    flex-direction: column;
  
    .title {
      margin: 10px 0;
    }
    button{
        padding:8px 18px;
        background-color: black;
        color:white;
        font-weight: bolder;
        font-size:medium;
                          border-radius: 2px;
    }
  }